H2 {font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 700;
font-style: normal;
display: block;
font-size: 28px;
line-height: 1.1;
color: #333332;
margin-bottom: 4px;}

A:link {color: #000000}
