.title {font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 700;
font-style: normal;
font-size: 50px;
letter-spacing: -0.04em;
line-height: 1;
color: #333332;
margin-bottom: 8px;
outline: 0;
word-break: break-word;}

.sub-title {font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
letter-spacing: .01rem;
font-weight: 400;
font-style: normal;
font-size: 22px;
margin: 0 0 10px 0;
padding: 0;}


.post-title a:link {font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 700;
font-style: normal;
display: block;
font-size: 28px;
line-height: 1.1;
color: #333332;
margin-bottom: 4px;}

p: {font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 300;
font-style: normal;
font-size: 20px;
line-height: 1.2;
color: #666665;
margin-bottom: 4px;}

