.title {font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 700;
font-style: normal;
font-size: 50px;
letter-spacing: -0.04em;
line-height: 1;
color: rgb(255, 255, 255);
margin-bottom: 8px;
outline: 0;
word-break: break-word;}

.sub-title {font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
letter-spacing: .01rem;
font-weight: 400;
font-style: normal;
font-size: 22px;
margin: 0 0 10px 0;
padding: 0;
color: rgb(255, 255, 255);
}

.github {font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
height: 20px;
letter-spacing: normal;
line-height: 31px;
margin-right: 0px;
text-decoration:none;
-webkit-background-clip: border-box;
border-bottom-color: rgb(179, 179, 177);
border-bottom-left-radius: 11988px;
border-bottom-right-radius: 11988px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(179, 179, 177);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(179, 179, 177);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(179, 179, 177);
border-top-left-radius: 11988px;
border-top-right-radius: 11988px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(179, 179, 177);
width: 91px;
padding-bottom: 4px;
padding-left: 14px;
padding-right: 14px;
padding-top: 4px;}

.sidebarNav {-webkit-font-smoothing: antialiased;
border-top-color: rgb(255, 255, 255);
border-top-style: solid;
border-top-width: 1px;
color: rgb(255, 255, 255);
font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: normal;
height: 55px;
letter-spacing: normal;
line-height: 25px;
margin-bottom: 0px;
margin-top: 0px;
padding-bottom: 0px;
text-rendering: optimizelegibility;
visibility: visible;
position:relative;
z-index:1;}

.sidebarList {-webkit-font-smoothing: antialiased;
color: rgb(255, 255, 255);
display: block;
font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: normal;
height: 56px;
letter-spacing: normal;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: -1px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-rendering: optimizelegibility;
visibility: visible;}

.sidebarListItem {-webkit-font-smoothing: antialiased;
color: rgb(255, 255, 255);
display: inline-block;
font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: normal;
height: 56px;
letter-spacing: normal;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-right: 20px;
text-rendering: optimizelegibility;
visibility: visible;
width: 98px;}

.sidebarListItemRef {-webkit-font-smoothing: antialiased;
color: rgb(255, 255, 255);
display: block;
font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: bold;
height: 15px;
letter-spacing: 2px;
line-height: 15px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 20px;
padding-left: 0px;
padding-right: 0px;
padding-top: 20px;
text-decoration: none;
text-rendering: optimizelegibility;
text-transform: uppercase;
visibility: visible;}

#map { position:absolute;
	right:0px;
		width:100%;
		height:322px;
	}

.top {position:relative;
		text-align:center;
		z-index:1;
		padding-top: 70px;
		padding-bottom: 70px;}
		
		



.post {padding-top: 40px;}
.post-title {font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 700;
font-style: normal;
font-size: 28px;
line-height: 40px;
color: #333332;
margin-bottom: 4px;
text-decoration:none;
float:left;
padding-right: 10px;}

.post-title a {font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 700;
font-style: normal;
font-size: 28px;
line-height: 1.1;
color: #333332;
text-decoration:none;}

.post-text {-webkit-font-smoothing: antialiased;
color: rgb(102, 102, 101);
display: block;
font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 50;
letter-spacing: normal;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 5px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-decoration: none;
word-wrap: break-word;}

.post-project {-webkit-font-smoothing: antialiased;
color: rgb(179, 179, 177);
display: inline;
font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
height: auto;
letter-spacing: normal;
line-height: 19px;
text-decoration: none;
text-rendering: optimizelegibility;
visibility: visible;
width: auto;
word-wrap: break-word;
}

.resume {font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
height: 20px;
letter-spacing: normal;
line-height: 31px;
margin-right: 0px;
text-decoration:none;
-webkit-background-clip: border-box;
border-bottom-color: rgb(102, 102, 101);
border-bottom-left-radius: 11988px;
border-bottom-right-radius: 11988px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(102, 102, 101);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(102, 102, 101);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(102, 102, 101);
border-top-left-radius: 11988px;
border-top-right-radius: 11988px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(102, 102, 101);
width: 91px;
padding-bottom: 4px;
padding-left: 14px;
padding-right: 14px;
padding-top: 4px;
}




a {color: rgb(102, 102, 101);}

.post-project a {color: rgb(179, 179, 177);}

.connect {padding-top:20px;
	line-height: 35px;}





p {line-height: 1.2;}
img {float: left;}

.img-spec {float: right;}
img {float: left;}


body {margin:auto;
	width:600px;
	padding-bottom: 100px;}
	
